In [3]:
#SORU_1
#Endeksi alfabenin ilk 10 harfi olan ve ilk 10 asal sayıyı ve ilk 10 fibonacci sayısını içeren bir veri çerçevesi oluşturun.
import pandas as pd
df = pd.DataFrame({'Harf' : ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'İ'],
                   'Sayı':  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29],
                   'Fibonacci' : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
                  })
df

  Harf  Sayı  Fibonacci
0    A     2          0
1    B     3          1
2    C     5          1
3    D     7          2
4    E    11          3
5    F    13          5
6    G    17          8
7    H    19         13
8    I    23         21
9    İ    29         34

In [9]:
#SORU_2
#Kaggle'dan Titanic: Machine Learning from Disaster isimli yarışmanın train.csv isimli dosyasını indirin
#ve Pandas veri çerçevelerini kullanarak tüm veriyi yükleyin. 
#Veri çerçevelerinin .groupby() metodunu kullanarak yolcuların ortalama yaşlarını herbir cinsiyet için ayrı olacak şekilde hesaplayın.
import pandas as pd
df = pd.read_csv("C:\\Users\\pc\\Desktop\\train.csv", index_col=0)
df
df.groupby(by='Sex').mean()['Age']

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64